@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
.container-hero {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 20px;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	font-size: 1.3rem;
}

.header-top i {
	font-size: 2.5rem;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 10px;
}

.menu {
	display: flex;
	gap: 20px;
	list-style: none;
	padding: 0;
}

.auth-links {
	display: flex;
	gap: 20px;
}

.menu li, .auth-links a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #000;
}


.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

body {
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.4rem;
    color: #4a7b9e;
    margin-bottom: 2rem; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h3 {
    font-size: 1.8rem;
    color: #4a7b9e;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: 500;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 0.5rem;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
}

p {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

button {
    background-color: #4a7b9e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #365f7a;
}

#passengerInfo {
    margin-bottom: 2rem;
}

.passenger {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#reservationForm {
    text-align: left;
}

#paymentButtons {
    text-align: center;
}

input[type="submit"] {
    background-color: #4a7b9e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: #365f7a;
}
footer {
	background-color: #4a7b9e;

}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* assets/css/reserva.css */
.btnLink {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4a7b9e;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btnLink:hover {
    background-color: #4a7b9e;
}

