@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
}

button {
    background-color: #4a7b9e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.paisesCentroamerica {
    display: none;
    margin-top: 20px;
}

.btnPais {
    background-color: #4a7b9e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}

.detallesReserva {
    margin-top: 20px;
    text-align: left;
    overflow: hidden;
}

.imagenPais {
    width: 500px;
    height: auto;
    border-radius: 25%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    display: block;
    float: left;
    margin-left: 70px;
}

.paisInfo {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 320px); 
    text-align: right; 
}

.descripcion {
    margin-bottom: 20px;
    font-size: 1rem; 
    text-align: left; 
}

#tituloPrincipal {
    font-size: 1.5rem; 
}

.infoReserva {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

#detallesReserva {
    text-align: center;
}

.container-hero {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2rem; 
}

.header-top i {
    font-size: 1.5rem;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.auth-links {
    display: flex;
    gap: 20px;
}

.menu li, .auth-links a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
    background-color: #4a7b9e;
    color: black;
    align-items: center;
    text-align: left;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
    width: 60%;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
    color: var(--dark-color);
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.2rem;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.instagram {
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
    );
}

.content p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.content input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #d2b495;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: var(--dark-color);
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
}

.content input::-webkit-input-placeholder {
    color: #eee;
}

.content button {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.contact-info {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.descripcion-container {
    overflow: hidden;
    display: flex;
    align-items: center;
}
